body, div, span {
  margin: 0;
  padding: 0;
  border-spacing: 0;
  border-collapse: collapse;
  position: relative; }

body {
  font-family: Arial, Helvetica, Times New Roman;
  font-size: 14px;
  text-align: center; }

.main-container {
  text-align: left;
  width: 700px;
  margin: 0 auto; }
  .main-container .header-container {
    text-align: center;
    width: 100%;
    padding: 20px 0 0 0; }
